.wrapper {
    position: relative;
    padding-top: 16px;
    padding-left: 8px;
    &::before {
        position: absolute;
        content: '';
        height: 1px;
        top: 0;
        right: 8px;
        left: 8px;
        background: rgba(22, 24, 35, 0.12);
    }
}
.effect-container {
    padding-right: 8px;
    height: 50px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.effect-link {
    border: none;
    // &:hover {
    // }
}
.effect-img {
    height: 52px;
    border-radius: 8px;
}
.button-effct {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;

    .text-effect {
        color: var(--input-color);
        font-family: SofiaPro;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
}

.link-container {
    margin-bottom: 8px;
}
.style-link {
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
    &:hover {
        text-decoration: underline;
    }
}
.span-copyright {
    color: #16182380;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
}
