.wrapper {
    position: relative;
    padding-top: 16px;
    padding-left: 8px;
    &::before {
        position: absolute;
        content: '';
        height: 1px;
        top: 0;
        right: 8px;
        left: 8px;
        background: rgba(22, 24, 35, 0.12);
    }
}
