.wrapper {
    bottom: -40px;
    position: fixed;
    right: 24px;
    text-align: right;
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
    z-index: 10;
    &.show {
        bottom: 0;
    }
}
.scroll-top {
    margin-bottom: 8px;
    margin-top: 12px;
}
.icon-scroll {
    align-items: center;
    background-color: var(--primary);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    width: 32px;
}
