.wrapper {
    position: relative;
    width: 100%;
    padding: 16px 8px 8px;
    &::before {
        position: absolute;
        content: '';
        height: 1px;
        top: 0;
        right: 8px;
        left: 8px;
        background: rgba(22, 24, 35, 0.12);
    }
}
