.wrapper {
    width: 320px;
    padding: 20px;
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    color: var(--text-primary-color);
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 700;

    .icon {
        margin-left: 4px;
        font-size: 1.4rem;
        color: rgb(32, 213, 236);
    }
}
.username {
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--text-gray-color);
    font-weight: 600;
}
.footer {
    margin-top: 8px;
}
.user-count {
    font-weight: 700;
    margin-right: 6px;
    font-size: 17px;
    line-height: 20px;
    display: inline-block;
    color: var(--black-color);
}
.user-like {
    color: var(--text-gray-color);
    font-size: 17px;
    line-height: 20px;
    display: inline-block;
    &:not(:last-of-type) {
        margin-right: 12px;
    }
}
.profile {
    font-size: 14px;
    line-height: 20px;
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid var(--background-gray-color-12);
}
