.search,
.search-result {
    width: 361px;
}
.search-popper {
    margin-top: 8px;
    padding: 8px 8px 0 0;
    overflow-y: auto;
}
.search {
    position: relative;
    height: var(--search-height);
    padding: 0 16px;
    background-color: var(--background-gray-color-06);
    border-radius: var(--search-boder-radius);
    border: 1.5px solid transparent;
    display: flex;
    align-items: center;

    input {
        flex: 1;
        font-size: 1.6rem;
        height: 70%;
        caret-color: var(--primary);
        padding: 0 40px 0 0;
        color: var(--text-primary-color);
        background-color: transparent;
        font-family: var(--font-family);
        font-weight: 400;
        // &::placeholder {
        //     color: var(--text-gray-color);
        // }
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--text-gray-color);
    }
    input:not(:placeholder-shown) ~ .close-icon {
        display: flex;
    }
    input:not(:placeholder-shown) ~ .loading-icon {
        display: flex;
    }

    &::after {
        content: '';
        position: absolute;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        width: 1px;
        background-color: var(--background-gray-color-12);
        top: var(--search-top-spacer);
        right: var(--search-button-width);
    }
    &:focus-within {
        border-color: var(--background-gray-color-69);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-gray-color-2);
}
.close-icon,
.loading-icon {
    display: none;
    font-size: 1.6rem;
    margin: 0px 12px;
    color: var(--background-gray-color-34);
    background: transparent;
    position: absolute;
    right: calc(var(--search-button-width));
    top: 50%;
    transform: translateY(-50%);

    &:hover {
        cursor: pointer;
    }
}

.loading {
    animation: 1s linear 0s infinite normal none running loading-circle-anim;
    @keyframes loading-circle-anim {
        0% {
            transform: translateY(-50%) rotate(0deg);
        }

        100% {
            transform: translateY(-50%) rotate(360deg);
        }
    }
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    font-size: 2rem;
    color: var(--background-gray-color-34);
    background-color: transparent;
    margin-right: -16px;
    padding: 4px 16px 0 12px;
    border-top-right-radius: var(--search-boder-radius);
    border-bottom-right-radius: var(--search-boder-radius);

    &:hover {
        background-color: var(--background-gray-color-9);
        cursor: pointer;
    }
    &:active {
        background: var(--background-gray-color-06);
    }
}
