.wrapper {
    --search-boder-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-color: #16182357;
    --search-button-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0px var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 42px;
}
.search,
.search-result {
    width: 361px;
}
.search-popper {
    margin-top: 8px;
    padding: 8px 8px 0 0;
    overflow-y: scroll;
}
.search {
    position: relative;
    height: var(--search-height);
    padding: 0 16px;
    background-color: #1618230f;
    border-radius: var(--search-boder-radius);
    border: 1.5px solid transparent;
    display: flex;
    align-items: center;

    input {
        flex: 1;
        font-size: 1.6rem;
        height: 70%;
        caret-color: var(--primary);
        padding: 0;
        color: #161823;
        background-color: transparent;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--button-color);
    }
    input:not(:placeholder-shown) ~ .clear {
        display: block;
    }

    &::after {
        content: '';
        position: absolute;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        width: 1px;
        background-color: var(--border-color);
        top: var(--search-top-spacer);
        right: var(--search-button-width);
    }
    &:focus-within {
        border-color: #c5c6c9;
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #16182380;
}
.clear,
.loading {
    font-size: 1.6rem;
    color: var(--search-color);
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    display: none;

    &:hover {
        cursor: pointer;
    }
}
.search-btn {
    width: var(--search-button-width);
    height: 100%;
    font-size: 2rem;
    color: var(--search-color);
    margin-right: -16px;
    border-top-right-radius: var(--search-boder-radius);
    border-bottom-right-radius: var(--search-boder-radius);

    &:hover {
        background: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background: rgba(22, 24, 35, 0.06);
    }
}

.icon-plus {
    margin-right: 12px;
}
.more-btn {
    font-size: 1.7rem;
    min-width: 28px;
    padding: 0px 4px;
    color: var(--button-color);
    background-color: var(--white);
    margin-left: 16px;
    cursor: pointer;
}
