.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 0;
    position: relative;
    max-width: 692px;
    &::after {
        position: absolute;
        content: '';
        height: 1px;
        bottom: 0;
        right: 8px;
        left: 8px;
        background: var(--background-gray-color-12);
    }
}

.content {
    margin-left: 12px;
    width: 624px;
    flex: 1 1 624px;
}
.avatar-img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.info {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: left;

    h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        display: inline-block;
        margin-right: 4px;
    }
    h4 {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        display: inline-block;
        line-height: 28px;
    }
}

.info-link:hover .nick-name {
    text-decoration: underline;
}

.header-btn-following {
    right: 0;
    position: absolute;
    top: 28px;
}

.header {
    margin-right: 114px;
}
.header-description {
    color: var(--black-color);
    font-size: 16px;
    line-height: 22px;
    span {
        display: inline;
        font-weight: 400;
    }
    .description-link {
        display: inline-block;
        font-weight: 600;
        color: var(--text-primary-color);
    }
}
.description-link:hover {
    text-decoration: underline;
}
// .header-place {
// }
.header-music {
    color: var(--text-primary-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-top: 4px;
    margin-bottom: 12px;
    &:hover {
        text-decoration: underline;
    }
}
.footer {
    display: flex;
    align-items: flex-end;
}

.video {
    width: 280px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;

    .icon-flag {
        display: flex;
        margin-right: 4px;
        position: absolute;
        right: 16px;
        top: 24px;
        color: var(--white-color);
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        transition: opacity 0.3s;
        opacity: 0;
    }
    .icon-handle {
        position: absolute;
        left: 12px;
        bottom: 26px;
        opacity: 0;
        width: 40px;
        height: 40px;
        background-color: transparent;
        color: var(--white-color);
        padding: 10px;
        transition: opacity 0.3s;
        cursor: pointer;
    }

    &:hover button {
        opacity: 1;
    }
    &:hover p {
        opacity: 1;
    }
}

.volume-container {
    align-items: center;
    bottom: 24px;
    display: flex;
    position: absolute;
    right: 12px;
    transform: rotate(90deg);
    transform-origin: calc(100% - 20px);
    transition: opacity 0.3s;
    z-index: 2;

    .volume-control {
        height: 24px;
        display: none;
        position: relative;
        align-items: center;
        width: 64px;
        background-color: #16182357;
        border-radius: 32px;
        padding: 0 8px;
        transform: rotate(180deg);
        cursor: pointer;

        * {
            cursor: pointer;
        }
        //!
        .volume-background {
            background-color: hsla(0, 0%, 100%, 0.34);
            border-radius: 100px;
            height: 2px;
            position: relative;
            width: 100%;
        }

        .volume-bar {
            background-color: #fff;
            border-radius: inherit;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
        }
        .volume-range {
            height: 2px;
            left: 8px;
            opacity: 0;
            position: absolute;
            right: 8px;
        }
    }

    .icon-sound {
        position: relative;
        width: 40px;
        height: 40px;
        background-color: transparent;
        color: var(--white-color);
        padding: 8px;
        transition: opacity 0.3s ease 0s;
        transform: rotate(-90deg);
        opacity: 0;
        cursor: pointer;
    }
    &:hover .volume-control {
        display: flex;
    }
}

.volume-control .volume-bar .volume-dot {
    background-color: inherit;
    border-radius: 50%;
    height: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
    width: 12px;
}

.action-item {
    display: flex;
    flex-direction: column;
}
